.about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;

}

.about .about_left {
    max-width: 40rem;
    flex: 1;
}

.about .about_left p{
    margin: 1rem 0 2rem;
}

.about .about_left ul{
    gap: 4rem;   
}

.about .about_left ul li{
    display: column; 
    padding: 0.2rem;
    
}


.about .about_right {
    flex: 1;
    max-width: 66rem;
}

.about .about_right h3{
    color: lightgreen;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10vh;
}
