#footer {
    background-color: lightgrey;
}

#footer .footer_content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    margin-bottom: 2rem;
    margin: 10%;
    
}

#footer .footer_content .footer_contact span{
    display: inline-block;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 2px solid;
    border-radius: 25rem;
    padding: 10px;
    
}

#footer .footer_content li{
    display: inline-block;
    padding: 1rem;
}


#footer .footer_copyright {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
