header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

header .header_left {
    max-width: 62rem;
    flex: 1;
}

header .header_left p{
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

header .header_right .header_image{
    position: relative;
    line-height: 0;
}

header .header_right .header_image::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid lightgreen;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 0.5rem;
    z-index: -1;
}

header .header_right .header_image .profile {
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 100%;
}