.projects {
    margin-bottom: 16rem;
    scroll-margin-top: 4rem;
    padding: 10%;
}

.projects .projects_content {
    max-width: 56rem;
    text-align: center;
    margin: 3rem auto 3rem;
}

.projects ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.projects ul li.chiesaStore {
    flex-direction: row-reverse;
    border: solid 2vh lightgreen;
    padding: 2rem;
}

.projects ul li.enviaarq {
    border: solid 2vh lightgreen;
    padding: 2rem;
}


.projects ul li.binary-to-decimal {
    flex-direction: row-reverse;
    border: solid 2vh lightgreen;
    padding: 2rem;
}

.projects ul li.relogioDigital {
    border: solid 2vh lightgreen;
    padding: 2rem;
}


.projects ul li:not(:last-of-type) {
    margin-bottom: 12rem;
}

.projects ul li .image img{
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
}

.projects ul li .projects_info{
    max-width: 47rem;
}

.projects ul li .projects_info p{
    margin: 1rem 0 4rem;
}

.projects ul li .projects_info a{
    font-weight: 500;
    text-decoration: underline;
    color: rgb(63, 63, 228);
}